/* IMAGES */
.flag {
    width: 20px;
    filter: brightness(120%);
  }
  .images0 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
  }
  
  .images1 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 100%;
  }
  
  .image02 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    height: 269px;
    width: 100%;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
    filter: brightness(80%);
  }
  
  .icon {
    width: 44px;
    height: 44px;
  }
  .icon0 {
    width: 70px;
    height: 60px;
  }
  .icon1 {
    width: 110px;
    height: 45px;
  }
  .icon2 {
    width: 40px;
    height: 48px;
  }