.certificate-images {
    width: auto;
    height: 220px;
    border-radius: 0.5em;
}

.image-box-nv-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-flex-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.python-certificate{
    height: 220px;
}

@media screen and (max-width: 783px) {
    .python-certificate{
        height: 210px;
    }
}