.certificate-images {
    width: auto;
    height: 220px;
    border-radius: 0.5em;
}

.image-box-nv-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-flex-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.python-certificate{
    height: 220px;
}

.dio-icon{
    width: 90px;
    height: 90px;
}

.gap-0{
    gap: 0 !important;
}
@media screen and (max-width: 783px) {
    .python-certificate{
        height: 210px !important;
    }
}


@media screen and (max-width: 400px) {
    .python-certificate{
        height: 190px !important;
    }

    .certificate-images {
        height: 200px;
    }
}